@{
    ViewBag.title = "About this sample application";

}

@Styles.Render("~/Content/about.css")

<div>
    <h1>WebMail - Azumatic Mail App</h1>
    <p>This app showcases the private web mail application features and functionality.</p>
</div>

<div>
    <h2>Main Features</h2>
    <ul class="products">
        <li>
            Web Mail Management
        </li>
        <li>
           Online Calendar Management
        </li>
        <li>
           Contacts Management
        </li>
        <li>
            Team Task Management
        </li>
       
        <li>
          
        </li>
    </ul>
</div>


